<ion-content>
  <div id="header">
    <div id="appbar">
      <div id="logo">
        <img src="/assets/img/ggStoreLogo2.png" alt="" />
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item class="custom-input">
          <ion-icon name="person"></ion-icon>
          <ion-input type="text" placeholder="Username..." class="custom"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-item >
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="text" placeholder="Password..." class="custom"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="gotoRegister">
    <strong><h1 class="orbitron">U Don't have an Account? ;(</h1></strong>
    <ion-button class="registerButton" [routerLink]="['/register']">Tap Here :)</ion-button>
  </div>

  <div class="login">
    <ion-button  class="loginButton">Log In</ion-button>
  </div>
</ion-content>
