<ion-content>
    <ion-card>
      <img alt="Bienvenido #usuario" src="/assets/img/welcome.png" />
      <ion-card-header>
        <ion-card-title> Moda Geek </ion-card-title>
        <ion-card-subtitle>En geeky galaxy !</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  
  <h1>Sudaderas...</h1>
  <app-slider></app-slider>
  
  <div>
    <ion-button>
      Ver más 
    </ion-button>  
  </div>
  
  <h1>Shorts...</h1>
  <app-slider-shorts></app-slider-shorts>
  
  <div>
    <ion-button>
      Ver más 
    </ion-button>  
  </div>
  
  </ion-content>
  
